<div>
    <ng-template [ngIf]="viewPortSize === 'small'">
        <ng-template ngFor let-item [ngForOf]="basicStoryModulesSections">
            <div *ngIf="hpService.displayOn(item.displayModuleOn, viewPortSize)" class="row container">
                <div *ngIf="item.section.text" class="small-12 text-center columns">
                    <label class="body-small-caps-override">
                        <a class="a-secondary" [href]="item.section.link" [attr.data-description]="item.section.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Section">{{ item.section.text }}</a>
                    </label>
                </div>

                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-10 small-centered text-center columns">
                            <a [href]="item.headline.link" [attr.data-description]="item.headline.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Headline">
                                <h2>{{ item.headline.text }}</h2>
                            </a>
                            <a [href]="item.image.link" [attr.data-description]="item.image.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Image">
                                <div class="responsively-lazy preventReflow">
                                    <img [srcset]="hpService.responsiveImage(item.item, item.image.customImage.large, item.image.customImage.small)" [src]="item.image.customImage.large ? ugUrl + item.image.customImage.large : hpService.productImgPathSrc(item.item,640)" [alt]="item.cta.text"/>
                                </div>
                            </a>
                            <a [href]="item.cta.link" [attr.data-description]="item.cta.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="CTA">
                                <button class="btn-secondary expand">{{ item.cta.text }}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>

    <ng-template [ngIf]="viewPortSize === 'medium'">
        <ng-template ngFor let-item [ngForOf]="basicStoryModulesSections" let-even="even" let-odd="odd">
            <div [ngIf]="hpService.displayOn(item.displayModuleOn, viewPortSize) && even" class="row fullwidth">
                <div class="container">
                    <div class="medium-7 columns">
                        <div ng-style="margin-top: -1.5rem; margin-left: -1.5rem;">
                            <a [href]="item.image.link" [attr.data-description]="item.image.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Image">
                                <div class="responsively-lazy preventReflow">
                                    <img class="right" [srcset]="hpService.responsiveImage(item.item, item.image.customImage.large, item.image.customImage.small)" [src]="item.image.customImage.large ? item.image.customImage.large : hpService.productImgPathSrc(item.item,360)" [alt]="item.cta.text"/>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="medium-5 columns text-center">
                        <div class="copyContainer">
                            <label *ngIf="item.section.text" class="body-small-caps-override">
                                <a class="a-secondary" [href]="item.section.link" [attr.data-description]="item.section.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Section">{{ item.section.text }}</a>
                            </label>
                            <a [href]="item.headline.link" [attr.data-description]="item.headline.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Headline">
                                <h2>{{ item.headline.text }}</h2>
                            </a>
                            <p class="body-small-override">
                                <a [href]="item.cta.link" [attr.data-description]="item.cta.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="CTA">{{ item.cta.text }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hpService.displayOn(item.displayModuleOn, viewPortSize) && odd" class="row fullwidth">
                <div class="container">
                    <div class="medium-5 columns text-center">
                        <div class="copyContainer">
                            <label *ngIf="item.section.text" class="body-small-caps-override">
                                <a class="a-secondary" [href]="item.section.link" [attr.data-description]="item.section.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Section">{{ item.section.text }}</a>
                            </label>
                            <a [href]="item.headline.link" [attr.data-description]="item.headline.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Headline">
                                <h2>{{ item.headline.text }}</h2>
                            </a>
                            <p class="body-small-override">
                                <a [href]="item.cta.link" [attr.data-description]="item.cta.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="CTA">{{ item.cta.text }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="medium-7 columns">
                        <div ng-style="margin-top: -1.5rem; margin-left: -1.5rem;">
                            <a [href]="item.image.link" [attr.data-description]="item.image.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Image">
                                <div class="responsively-lazy preventReflow">
                                    <img class="right" [srcset]="hpService.responsiveImage(item.item, item.image.customImage.large, item.image.customImage.small)" [src]="item.image.customImage.large ? item.image.customImage.large : hpService.productImgPathSrc(item.item,360)" [alt]="item.cta.text"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>

    <ng-template [ngIf]="viewPortSize === 'large' || viewPortSize === 'xlarge'">
        <div class="row fullwidth">
            <div class="large-11 xlarge-10 xxlarge-8 large-centered columns">
                <div class="row">
                    <ng-template ngFor let-item [ngForOf]="basicStoryModulesSections">
                        <div *ngIf="hpService.displayOn(item.displayModuleOn, viewPortSize)" [ngClass]="hpService.className(basicStoryModulesSections,viewPortSize)">
                            <a [href]="item.image.link" [attr.data-description]="item.image.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Image">
                                <div class="responsively-lazy preventReflow">
                                    <img class="right" [srcset]="hpService.responsiveImage(item.item, item.image.customImage.large, item.image.customImage.small)" [src]="item.image.customImage.large ? item.image.customImage.large : hpService.productImgPathSrc(item.item,360)" [alt]="item.cta.text"/>
                                </div>
                            </a>
                            <div class="row">
                                <div class="large-12 large-centered columns">
                                    <div class="white-box-container text-center">
                                        <label *ngIf="item.section.text" class="body-small-caps-override">
                                            <a class="a-secondary" [href]="item.section.link" [attr.data-description]="item. section.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Section">{{ item.section.text }}</a>
                                        </label>

                                        <a [href]="item.headline.link" [attr.data-description]="item.headline.description" [attr.data-itemNumber]="item.item" [attr.data-cta]="item.cta.text" [attr.data-sectionDescription]="item.section.description" data-type="Headline">
                                            <h2>{{ item.headline.text }}</h2>
                                        </a>
                                        <p class="body-small-override">
                                            <a [href]="item.cta.link"[attr.data-description]="item.cta.description"[attr.data-itemNumber]="item.item"[attr.data-cta]="item.cta.text"[attr.data-sectionDescription]="item.section.description" data-type="CTA">{{ item.cta.text }}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</div>
