<main style="min-height:100vh">
  <div class="homePage-container">
      <ng-template ngFor let-data [ngForOf]="arrayOfData">
        <ng-container [ngSwitch]="data.module">
          
          <app-large-feature-module *ngSwitchCase="'large-feature-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-large-feature-module>

          <app-seo-link-module *ngSwitchCase="'seo-link-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-seo-link-module>

          <app-small-feature-module *ngSwitchCase="'small-feature-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-small-feature-module>

          <app-collection-grid-module *ngSwitchCase="'collection-grid-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-collection-grid-module>

          <app-extended-story-module *ngSwitchCase="'extended-story-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-extended-story-module>

          <app-text-link-module *ngSwitchCase="'text-link-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-text-link-module>

          <app-button-link-double-module *ngSwitchCase="'button-link-double-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-button-link-double-module>
          
          <app-image-link-double-module *ngSwitchCase="'image-link-double-module'"
            [componentData]="data.data"
            [viewPortSize]="viewPortSize">
          </app-image-link-double-module>

        </ng-container>
      </ng-template>
    </div>
  </main>
