<main style="min-height:100vh">
  <div class="homePage-container">
    <!-- <ng-container #hpModuleContainer></ng-container> -->

      <!-- <ng-template ngFor let-data [ngForOf]="arrayOfData" #hpModuleContainer>
        <ng-container [ngSwitch]="data.module">
          <ng-container *ngSwitchCase="'large-feature-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="large-feature-module background-color-off-white" data-module-type="LF">
                <app-hp-large-feature-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-large-feature-module>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'seo-link-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="seoLinks text-link-module background-color-off-white" data-module-type="TL_SEO">
                <app-hp-seo-link-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-seo-link-module>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'small-feature-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="small-feature-module background-color-white" data-module-type="SF">
                <app-hp-small-feature-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-small-feature-module>
            </section>
          </ng-container>
          
          <ng-container *ngSwitchCase="'collection-grid-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="collection-grid-module background-color-off-white" data-module-type="CG">
                <app-hp-collection-grid-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-collection-grid-module>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'extended-story-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="extended-story-module background-color-off-white" data-module-type="ES">
                <app-hp-extended-story-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-extended-story-module>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'text-link-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="text-link-module background-color-off-white" data-module-type="TL">
                <app-hp-text-link-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-text-link-module>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'button-link-double-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="button-link-double-module background-color-white" data-module-type="BD">
                <app-hp-button-link-double-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-button-link-double-module>
            </section>
          </ng-container>
          
          <ng-container *ngSwitchCase="'image-link-double-module'">
            <section *ngIf="loadComponent(data.module,data.data)" class="image-link-double-module background-color-off-white" data-module-type="LD">
                <app-hp-image-link-double-module
                  [componentData]="data.data"
                  [viewPortSize]="viewPortSize">
                </app-hp-image-link-double-module>
            </section>
          </ng-container>
        </ng-container>
      </ng-template> -->

      <ng-template ngFor let-data [ngForOf]="arrayOfData" #hpModuleContainer>
        <ng-container [ngSwitch]="data.module">
          <ng-container *ngSwitchCase="'large-feature-module'">
              <app-hp-large-feature-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="LF"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-large-feature-module>
          </ng-container>

          <ng-container *ngSwitchCase="'seo-link-module'">
              <app-hp-seo-link-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="TL_SEO"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-seo-link-module>
          </ng-container>

          <ng-container *ngSwitchCase="'small-feature-module'">
              <app-hp-small-feature-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="SF"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-small-feature-module>
          </ng-container>
          
          <ng-container *ngSwitchCase="'collection-grid-module'">
              <app-hp-collection-grid-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="CG"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-collection-grid-module>
          </ng-container>

          <ng-container *ngSwitchCase="'extended-story-module'">
              <app-hp-extended-story-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="ES"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-extended-story-module>
          </ng-container>

          <ng-container *ngSwitchCase="'text-link-module'">
              <app-hp-text-link-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="TL"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-text-link-module>
          </ng-container>

          <ng-container *ngSwitchCase="'button-link-double-module'">
              <app-hp-button-link-double-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="BD"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-button-link-double-module>
          </ng-container>
          
          <ng-container *ngSwitchCase="'image-link-double-module'">
              <app-hp-image-link-double-module *ngIf="loadComponent(data.module,data.data)"
                data-module-type="LD"
                [componentData]="data.data"
                [viewPortSize]="viewPortSize">
              </app-hp-image-link-double-module>
          </ng-container>
        </ng-container>
      </ng-template>
  </div>
</main>
